@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=Grape+Nuts&family=Merriweather&display=swap');
.portfolio-header {
    display: block;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #b3e5fc;
    color: #0277bd;
    font-size: xx-large;
    font-family: 'Coming Soon', cursive; 
    text-align: center;
    border-radius: 1em;
}
.main-list{
    padding-top: 1em;
    padding-bottom: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
a{
    color: black;
    padding-top: 1em;
    padding-bottom: 1em;
    font-family: 'Merriweather', serif;
    
}
li, .notes-link{
    color: black;
    padding: 4em;
    margin: 2em;
    list-style: none;
    background-color: #b3e5fc;
    border: white 1px solid;
    border-radius: 2em;
}
a:hover, a:active{
    color: #0277bd;
}
h2, h1 {
    font-family: 'Coming Soon', cursive;
    color: #0277bd;
    padding-top: 1em;
    margin-bottom: 0;
    margin-top: 2em;
}
.notes-p, .notes-link{
    margin: 1em;
}
.questions-list {
    margin-left: 4em;
}