<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="utf-8">
        <title>WDD330 Portfolio</title>
        <link href="/WDD330-Portfolio/css/styles.css" type="text/css" rel="stylesheet" media="screen">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="/WDD330-Portfolio/js/main.js">

        </script>
    </head>
    <body>
        <div id="wrapper"></div>
            <header class="portfolio-header">
                Emily's WDD 330 Portfolio
            </header>
            
        </div>
    </body>
</html>